.button {
    font-size: 30px;
    width: 208px;
    height: 208px;
    border-radius: 50%; 
    
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.363);
    width: 308px;
    height: 308px;
    transition: all 0.3s ease-in-out;
}